Repository iharari2/Volatility-Balancing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @product-manager, @ilan, @iharari2, @lead-architect, @backend-leads, @frontend-leads, @devops-leads

Scaffold FastAPI service: flows A–C, idempotent orders, in-memory repos, tests green; tooling (ruff+mypy+pytest), Makefile, README
  .gitignore
  Makefile
  README.md
  backend/app/routes/positions.py
  backend/application/use_cases/submit_order_uc.py
  backend/domain/models.py
  backend/domain/ports/orders_repo.py
  backend/infrastructure/persistence/redis/idempotency_repo_redis.py
  backend/tests/unit/test_idempotency_repo.py
  daily_workflow.sh
  frontend/node_modules/.bin/loose-envify
  frontend/node_modules/.bin/rimraf
  pyproject.toml
Owners: @iharari2

feat: SQLAlchemy 2.0 models + DI cleanup + idempotent orders + events persistence; tests green
  .gitignore
  backend/app/di.py
  backend/infrastructure/persistence/sql/events_repo_sql.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/infrastructure/persistence/sql/positions_repo_sql.py
  src/volatility_balancing.egg-info/PKG-INFO
  src/volatility_balancing.egg-info/SOURCES.txt
  src/volatility_balancing.egg-info/dependency_links.txt
  src/volatility_balancing.egg-info/requires.txt
  src/volatility_balancing.egg-info/top_level.txt
Owners: @iharari2

chore(lint): remove duplicate Optional import
  Makefile
  backend/infrastructure/persistence/redis/idempotency_repo_redis.py
  pyproject.toml
  requirements.txt
  src/volatility_balancing.egg-info/PKG-INFO
  src/volatility_balancing.egg-info/requires.txt
Owners: @iharari2

feat(api): add GET /v1/positions/{id}/orders; SQL models & repos; events SQL; Redis idempotency; DI wiring; tests/mypy/ruff green; Makefile/dev targets; runbook notes
  backend/app/routes/orders.py
  backend/application/use_cases/execute_order_uc.py
  backend/application/use_cases/submit_order_uc.py
  backend/domain/entities/order.py
  backend/domain/entities/position.py
  backend/domain/ports/orders_repo.py
  backend/infrastructure/persistence/memory/idempotency_repo_mem.py
  backend/infrastructure/persistence/memory/orders_repo_mem.py
  backend/infrastructure/persistence/redis/idempotency_repo_redis.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/tests/integration/test_orders_list.py
  backend/tests/integration/test_orders_list_and_fill.py
  backend/tests/unit/application/test_execute_order_uc.py
  frontend/node_modules/.bin/loose-envify
  frontend/node_modules/.bin/rimraf
Owners: @iharari2

feat(order-policy, fills): embed OrderPolicy on Position; commission in fills; SELL guardrail; unique event IDs
  .vscode/settings.json
  backend/__init__.py
  backend/app/di.py
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/routes/positions.py
  backend/application/dto/orders.py
  backend/application/use_cases/execute_order_uc.py
  backend/domain/entities/order.py
  backend/domain/entities/position.py
  backend/domain/errors.py
  backend/domain/value_objects/order_policy.py
  backend/domain/value_objects/types.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/infrastructure/persistence/sql/positions_repo_sql.py
  backend/tests/conftest.py
  backend/tests/unit/application/test_execute_order_uc.py
  backend/tests/unit/application/test_order_policy_uc.py
  docs/DEVELOPER_NOTES.md
  docs/MIGRATION.md
  mypy.ini
  pyproject.toml
Owners: @iharari2

Fix test failures: Add missing clock parameter to ExecuteOrderUC constructor calls
  .github/PULL_REQUEST_TEMPLATE_docs.md
  .pre-commit-config.yaml
  Makefile
  backend/app/routes/health.py
  backend/app/routes/orders.py
  backend/app/routes/positions.py
  backend/application/use_cases/execute_order_uc.py
  backend/application/use_cases/submit_order_uc.py
  backend/domain/models.py
  backend/domain/ports/orders_repo.py
  backend/domain/value_objects/guardrails.py
  backend/infrastructure/persistence/memory/orders_repo_mem.py
  backend/infrastructure/persistence/sql/events_repo_sql.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/tests/unit/application/test_execute_order_uc.py
  backend/tests/unit/application/test_order_policy_uc.py
  backend/tests/unit/application/test_submit_daily_cap.py
  docs/.pre-commit-config.yaml
  mypy.ini
Owners: @iharari2

Fix test failures for Linux VM compatibility
  backend/app/routes/orders.py
  backend/application/use_cases/submit_order_uc.py
  backend/tests/integration/test_orders_list.py
  backend/tests/unit/application/test_execute_order_uc.py
  backend/tests/unit/application/test_submit_daily_cap.py
Owners: @iharari2

Fix remaining test failures for Linux VM
  backend/app/routes/orders.py
  backend/application/use_cases/submit_order_uc.py
  backend/debug_daily_cap.py
  backend/debug_sql_daily_cap.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/tests/integration/test_orders_list.py
  backend/tests/unit/application/test_submit_daily_cap.py
Owners: @iharari2

Remove debug files
  backend/debug_daily_cap.py
  backend/debug_sql_daily_cap.py
Owners: @iharari2

feat: Implement core volatility trading engine
  backend/DEMO_GUIDE.md
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/routes/positions.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/application/use_cases/execute_order_uc.py
  backend/demo.py
  backend/demo_web.html
  backend/domain/entities/position.py
  backend/domain/value_objects/order_policy.py
  backend/quick_demo.py
  backend/test_demo.py
Owners: @iharari2

style: Format demo.py with consistent formatting
  backend/demo.py
Owners: @iharari2

style: Format quick_demo.py with consistent formatting
  backend/quick_demo.py
Owners: @iharari2

feat: Implement Phase 2 - Advanced Order Sizing & Guardrails
  backend/app/routes/orders.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/test_phase2_demo.py
Owners: @iharari2

feat: Implement comprehensive market data storage and simulation framework
  backend/app/di.py
  backend/app/routes/orders.py
  backend/app/routes/positions.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/application/use_cases/simulation_uc.py
  backend/domain/entities/market_data.py
  backend/domain/ports/market_data.py
  backend/domain/value_objects/order_policy.py
  backend/infrastructure/market/market_data_storage.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/quick_test.py
  backend/test_market_data_simulation.py
  backend/test_phase2_demo.py
  backend/test_phase3_demo.py
Owners: @iharari2

feat: Add missing API endpoints for trading interface
  backend/app/routes/positions.py
  backend/domain/ports/positions_repo.py
  backend/infrastructure/persistence/memory/positions_repo_mem.py
Owners: @iharari2

style: Fix whitespace formatting in market data port and test files
  backend/domain/ports/market_data.py
  backend/quick_test.py
  backend/test_phase3_demo.py
Owners: @iharari2

feat: Add complete React frontend for Volatility Balancing
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/EventTimeline.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/PositionCard.tsx
  frontend/src/components/TradingInterface.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/hooks/useOrders.ts
  frontend/src/hooks/usePositions.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PositionDetail.tsx
  frontend/src/pages/Positions.tsx
  frontend/src/pages/Trading.tsx
  frontend/src/types/index.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Owners: @iharari2

fix: resolve all failing tests and improve test coverage
  backend/TEST_COVERAGE_REPORT.md
  backend/app/main.py
  backend/app/routes/positions.py
  backend/application/use_cases/simulation_uc.py
  backend/domain/entities/event.py
  backend/domain/entities/idempotency.py
  backend/domain/entities/order.py
  backend/domain/entities/trade.py
  backend/infrastructure/market/market_data_storage.py
  backend/tests/unit/domain/test_event_entity.py
  backend/tests/unit/domain/test_idempotency_entity.py
  backend/tests/unit/domain/test_order_entity.py
  backend/tests/unit/domain/test_position_entity.py
  backend/tests/unit/domain/test_trade_entity.py
Owners: @iharari2

feat: add comprehensive API test coverage and fix all failing tests
  backend/app/routes/orders.py
  backend/app/routes/positions.py
  backend/application/use_cases/submit_order_uc.py
  backend/tests/integration/test_main_app.py
  backend/tests/integration/test_orders_api.py
  backend/tests/integration/test_positions_api.py
Owners: @iharari2

Fix simulation and create position functionality
  README.md
  backend/app/main.py
  backend/app/routes/positions.py
  backend/application/use_cases/simulation_uc.py
  backend/infrastructure/market/market_data_storage.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/tests/integration/test_simulation_triggers.py
  docs/api/openapi.yaml
  docs/architecture/SEQUENCE_EXAMPLE.md
  docs/architecture/component_architecture.md
  docs/architecture/deployment_architecture.md
  docs/architecture/system_architecture_v1.md
  docs/index.md
  frontend/src/components/CreatePositionForm.tsx
  frontend/src/components/DividendManagement.tsx
  frontend/src/components/MarketDataStatus.tsx
  frontend/src/components/PositionConfigPanel.tsx
  frontend/src/components/SimulationControls.tsx
  frontend/src/components/SimulationResults.tsx
  frontend/src/components/TradingInterface.tsx
  frontend/src/hooks/useDividends.ts
  frontend/src/hooks/useMarketData.ts
  frontend/src/hooks/usePositions.ts
  frontend/src/hooks/useSimulation.ts
  frontend/src/lib/api.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PositionDetail.tsx
  frontend/src/pages/Simulation.tsx
  frontend/src/pages/Trading.tsx
  frontend/src/types/index.ts
  frontend/vite.config.ts
Owners: @iharari2, @lead-architect, @ilan

Add portfolio persistence and trade logging system
  backend/PERSISTENCE_GUIDE.md
  backend/app/di.py
  backend/app/routes/orders.py
  backend/app/routes/positions.py
  backend/application/use_cases/execute_order_uc.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/domain/ports/trades_repo.py
  backend/env.example
  backend/infrastructure/market/data_validator.py
  backend/infrastructure/market/simulation_presets.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/infrastructure/persistence/memory/trades_repo_mem.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/trades_repo_sql.py
  backend/migrate_add_trades.py
  backend/start_with_sql.py
  backend/test_after_hours_behavior.py
  backend/test_after_hours_trades.py
  backend/test_bid_ask.py
  backend/test_chunked_data_fetching.py
  backend/test_comprehensive_features.py
  backend/test_configurable_intervals.py
  backend/test_data_validation.py
  backend/test_error_handling.py
  backend/test_optimized_data_retrieval.py
  backend/test_performance_optimization.py
  backend/test_persistence.py
  backend/test_simulation_presets.py
  backend/test_trade_persistence_simple.py
  backend/test_trade_persistence_unit.py
  backend/tests/unit/application/test_execute_order_uc.py
  backend/tests/unit/application/test_order_policy_uc.py
  backend/tests/unit/application/test_submit_daily_cap.py
Owners: @iharari2

feat: enhance simulation robustness and add progress tracking
  backend/app/di.py
  backend/app/routes/positions.py
  backend/application/use_cases/simulation_uc.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/infrastructure/persistence/memory/portfolio_state_repo_mem.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/portfolio_state_repo_sql.py
Owners: @iharari2

Fix progress bar visibility and enhance dividend analysis
  backend/app/di.py
  backend/app/main.py
  backend/app/routes/positions.py
  backend/application/use_cases/simulation_uc.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/domain/value_objects/order_policy.py
  backend/infrastructure/cache/simulation_cache.py
  backend/infrastructure/market/simulation_presets.py
  backend/infrastructure/persistence/memory/positions_repo_mem.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/positions_repo_sql.py
  backend/migrate_add_anchor_price.py
  docs/architecture/parameter_optimization_arch.md
  docs/architecture/parameter_optimization_visualization.md
  docs/dev/parameter_optimization_implementation_plan.md
  docs/dev/unified_development_plan.md
  docs/parameter_optimization_summary.md
  docs/product/parameter_optimization_prd.md
  frontend/src/components/EnhancedSimulationAnalytics.tsx
  frontend/src/components/SimulationAnalytics.tsx
  frontend/src/components/SimulationControls.tsx
  frontend/src/components/SimulationProgressBar.tsx
  frontend/src/components/SimulationResults.tsx
  frontend/src/components/TradingInterface.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/Simulation.tsx
  frontend/src/pages/Trading.tsx
Owners: @iharari2, @lead-architect, @ilan, @product-manager

Fix dividend calculations and enhance progress tracking
  backend/application/use_cases/simulation_unified_uc.py
  frontend/src/components/SimulationProgressBar.tsx
  frontend/src/components/SimulationResults.tsx
Owners: @iharari2

feat: complete Phase 1 optimization system and resolve critical issues
  backend/app/routes/optimization.py
  backend/application/use_cases/parameter_optimization_uc.py
  backend/conftest.py
  backend/domain/entities/idempotency.py
  backend/domain/entities/optimization_config.py
  backend/domain/entities/optimization_result.py
  backend/domain/entities/simulation_result.py
  backend/domain/value_objects/optimization_criteria.py
  backend/infrastructure/persistence/memory/optimization_repo_mem.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/trades_repo_sql.py
  backend/test_trade_persistence_simple.py
  backend/tests/unit/application/test_parameter_optimization_uc.py
  backend/tests/unit/domain/test_optimization_entities.py
  docs/dev/development_plan_status.md
Owners: @iharari2

Fix timeline schema issues and add validation tools
  backend/infrastructure/persistence/sql/evaluation_timeline_repo_sql.py
  backend/scripts/validate_timeline_schema.py
  backend/scripts/verify_trading_status.py
  backend/tests/test_timeline_schema_complete.py
Owners: @iharari2

Fix position detail page, cleanup plan, and mypy type errors
  backend/infrastructure/persistence/sql/trades_repo_sql.py
  backend/logs/audit_trail.jsonl
  backend/test_trade_persistence_simple.py
  backend/test_trade_persistence_unit.py
  mypy.ini
Owners: @iharari2

Auto-fix ruff linting errors
  backend/logs/audit_trail.jsonl
Owners: @iharari2

Auto-fix ruff linting errors (part 2)
  backend/logs/audit_trail.jsonl
  backend/test_trade_persistence_simple.py
  backend/test_trade_persistence_unit.py
Owners: @iharari2

checkpoint before codex change
  requirements.txt
  src/volatility_balancing.egg-info/SOURCES.txt
Owners: none

Add AGENTS.md invariants for Codex
  AGENTS.md
Owners: none

Add AGENTS.md invariants for Codex
  AGENTS.md
Owners: none

checkpoint: tick timeline cockpit wip
  .gitignore
  backend/app/main.py
  backend/app/routes/portfolio_cockpit_api.py
  backend/application/services/comprehensive_excel_export_service.py
  backend/application/services/trading_worker.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/conftest.py
  backend/domain/ports/market_data.py
  backend/tests/conftest.py
  backend/tests/integration/test_cockpit_api.py
  backend/tests/unit/application/test_order_policy_uc.py
  backend/tests/unit/domain/test_optimization_entities.py
  docs/OPERATING_MODEL_24x7.md
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/api/cockpit.ts
  frontend/src/features/trading/TradeCockpitPage.tsx
  frontend/vite.config.ts
  requirements-base.txt
Owners: @iharari2

stability: gate trading worker; fix continuous trading integration test
  backend/app/main.py
  backend/application/services/continuous_trading_service.py
  backend/tests/integration/test_continuous_trading_fixes.py
Owners: @iharari2

contract: make portfolio create metadata-only; require position starting cash
  backend/app/routes/portfolios.py
Owners: @iharari2

ui: move starting cash to position step; portfolio create metadata-only
  frontend/src/features/portfolios/CreatePortfolioWizard.tsx
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/lib/api.ts
Owners: @iharari2

ui: move starting cash to position step; portfolio create metadata-only
  frontend/src/features/portfolios/CreatePortfolioWizard.tsx
  frontend/src/lib/api.ts
Owners: @iharari2

Gate 0 hardening: market errors, UI messages, and tests
  backend/app/routes/market.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/tests/integration/test_market_live_server.py
  backend/tests/integration/test_positions_api.py
  frontend/src/features/portfolios/CreatePortfolioWizard.tsx
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/features/positions/modals/AddPositionModal.tsx
  frontend/src/features/positions/tabs/PositionsTab.tsx
  frontend/src/hooks/useMarketData.ts
  frontend/src/lib/api.ts
  frontend/vite.config.ts
Owners: @iharari2

Fix market error classification and add root dev start
  QUICK_START.md
  backend/app/routes/market.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/tests/unit/app/test_market_route.py
Owners: @iharari2

Test invalid ticker force_refresh returns 404
  backend/tests/unit/app/test_market_route.py
Owners: @iharari2

.github/CODEOWNERS:

# .github/CODEOWNERS
/docs/product/      @product-manager @ilan @iharari2
/docs/architecture/ @lead-architect  @ilan @iharari2
/docs/adr/          @lead-architect @iharari2
/backend/           @backend-leads @iharari2
/frontend/          @frontend-leads @iharari2
/infra/             @devops-leads @iharari2

/backend/   @iharari2
/frontend/  @iharari2
/.policy/   @iharari2
/.github/   @iharari2
