Repository iharari2/Volatility-Balancing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @product-manager, @ilan, @iharari2, @lead-architect, @backend-leads, @frontend-leads, @devops-leads

.github/CODEOWNERS:

# .github/CODEOWNERS
/docs/product/      @product-manager @ilan @iharari2
/docs/architecture/ @lead-architect  @ilan @iharari2
/docs/adr/          @lead-architect @iharari2
/backend/           @backend-leads @iharari2
/frontend/          @frontend-leads @iharari2
/infra/             @devops-leads @iharari2

/backend/   @iharari2
/frontend/  @iharari2
/.policy/   @iharari2
/.github/   @iharari2

Gate 0: market error mapping + deterministic force_refresh test (#3)
  .gitignore
  AGENTS.md
  QUICK_START.md
  backend/app/main.py
  backend/app/routes/market.py
  backend/app/routes/portfolio_cockpit_api.py
  backend/app/routes/portfolios.py
  backend/application/services/comprehensive_excel_export_service.py
  backend/application/services/continuous_trading_service.py
  backend/application/services/trading_worker.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/conftest.py
  backend/domain/ports/market_data.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/tests/conftest.py
  backend/tests/integration/test_cockpit_api.py
  backend/tests/integration/test_continuous_trading_fixes.py
  backend/tests/integration/test_market_live_server.py
  backend/tests/integration/test_positions_api.py
  backend/tests/unit/app/test_market_route.py
  backend/tests/unit/application/test_order_policy_uc.py
  backend/tests/unit/domain/test_optimization_entities.py
  docs/OPERATING_MODEL_24x7.md
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/api/cockpit.ts
  frontend/src/features/portfolios/CreatePortfolioWizard.tsx
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/features/positions/modals/AddPositionModal.tsx
  frontend/src/features/positions/tabs/PositionsTab.tsx
  frontend/src/features/trading/TradeCockpitPage.tsx
  frontend/src/hooks/useMarketData.ts
  frontend/src/lib/api.ts
  frontend/vite.config.ts
  requirements-base.txt
  requirements.txt
  src/volatility_balancing.egg-info/SOURCES.txt
Owners: @iharari2

Gate1: deterministic async tick flow; guardrail normalization; remove broken WIP integration test
  backend/tests/integration/test_position_tick.py
Owners: @iharari2

Gate1: deterministic async trading loop, guardrail normalization, and stable integration tests
  .gitignore
  QA_QUICK_START.md
  QUICK_START.md
  backend/app/di.py
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/routes/portfolios.py
  backend/app/routes/positions.py
  backend/application/services/verbose_timeline_service.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/domain/services/guardrail_evaluator.py
  backend/domain/value_objects/configs.py
  backend/infrastructure/market/deterministic_market_data.py
  backend/infrastructure/market/yfinance_adapter.py
  backend/infrastructure/market/yfinance_dividend_adapter.py
  backend/infrastructure/persistence/memory/config_repo_mem.py
  backend/infrastructure/persistence/sql/config_repo_sql.py
  backend/infrastructure/persistence/sql/evaluation_timeline_repo_sql.py
  backend/infrastructure/persistence/sql/events_repo_sql.py
  backend/scripts/gate1_tick_smoke.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_async_client_sync_endpoint.py
  backend/tests/integration/test_dividend_api.py
  backend/tests/integration/test_gate1_deterministic_ticks.py
  backend/tests/integration/test_main_app.py
  backend/tests/integration/test_market_live_server.py
  backend/tests/regression/test_export_regression.py
  backend/tests/root/test_aapl_simulation.py
  backend/tests/root/test_market_data.py
  backend/tests/unit/infrastructure/test_config_repo_sql.py
  pytest.ini
Owners: @iharari2

Gate2: bind postgres/redis to localhost only
  docker-compose.yml
Owners: none

Add EC2 deploy script
  deploy.sh
Owners: none

Add /v1/version endpoint
  backend/app/main.py
  backend/app/routes/version.py
Owners: @iharari2

Dev/CI: docker compose backend + openpyxl + smoke test
  .devcontainer/devcontainer.json
  .github/workflows/tests.yml
  backend/Dockerfile
  docker-compose.yml
  requirements-base.txt
  scripts/smoke.sh
Owners: @iharari2

Fix test dependency: add starlette
  requirements-base.txt
Owners: none

Add sim tick endpoint and test
  backend/app/main.py
  backend/app/routes/sim.py
  backend/tests/integration/test_position_tick_endpoint.py
  requirements.txt
  scripts/smoke.sh
Owners: @iharari2

Add CI tests workflow
  .github/workflows/tests.yml
Owners: @iharari2

Add broker abstraction layer (Phase 1)
  backend/app/di.py
  backend/application/services/broker_integration_service.py
  backend/domain/entities/order.py
  backend/domain/ports/broker_service.py
  backend/domain/value_objects/types.py
  backend/infrastructure/adapters/order_service_adapter.py
  backend/infrastructure/adapters/stub_broker_adapter.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
  backend/tests/unit/infrastructure/test_stub_broker_adapter.py
Owners: @iharari2

Fix stub broker to use actual market price for fills
  backend/application/services/broker_integration_service.py
Owners: @iharari2

Fix broker integration event logging
  backend/application/services/broker_integration_service.py
Owners: @iharari2

Fix TypeScript errors to enable production build
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedSimulationAnalytics.tsx
  frontend/src/components/ExcelExport.tsx
  frontend/src/components/SimulationAnalytics.tsx
  frontend/src/components/SimulationControls.tsx
  frontend/src/components/VerboseTimelineView.tsx
  frontend/src/components/optimization/ParameterConfigForm.tsx
  frontend/src/components/positions/PositionCellCard.tsx
  frontend/src/contexts/PortfolioContext.tsx
  frontend/src/contexts/TenantPortfolioContext.tsx
  frontend/src/features/analytics/AnalyticsCharts.tsx
  frontend/src/features/portfolios/PortfolioListPage.tsx
  frontend/src/features/portfolios/PortfolioOverviewPage.tsx
  frontend/src/features/positions/PositionDetailPage.tsx
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/features/trading/PositionCockpitPage.tsx
  frontend/src/hooks/useMarketData.ts
  frontend/src/hooks/usePositions.ts
  frontend/src/hooks/useSimulation.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/pages/Analysis.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PositionDetail.tsx
  frontend/src/pages/Positions.tsx
  frontend/src/pages/Simulation.tsx
  frontend/src/pages/Trading.tsx
  frontend/src/services/marketDataService.ts
  frontend/src/services/optimizationApi.ts
  frontend/src/services/portfolioApi.ts
  frontend/src/types/index.ts
  frontend/src/types/optimization.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @iharari2

Add multi-day trading support with order status worker and history APIs
  backend/app/di.py
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/routes/positions_cockpit.py
  backend/application/services/order_status_worker.py
  backend/domain/ports/evaluation_timeline_repo.py
  backend/domain/ports/orders_repo.py
  backend/infrastructure/persistence/memory/orders_repo_mem.py
  backend/infrastructure/persistence/sql/evaluation_timeline_repo_sql.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
Owners: @iharari2

Add Performance Chart to Trade Cockpit
  frontend/src/api/positionHistory.ts
  frontend/src/components/charts/PerformanceChart.tsx
  frontend/src/features/trading/TradeCockpitPage.tsx
Owners: @iharari2

Add Decision Monitor to Trade Cockpit
  frontend/src/components/trading/DecisionMonitor.tsx
  frontend/src/features/trading/TradeCockpitPage.tsx
Owners: @iharari2

Add trading events visibility to Position Workspace
  backend/app/main.py
  backend/app/routes/portfolios.py
  backend/app/routes/trading.py
  backend/application/orchestrators/live_trading.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/domain/entities/portfolio.py
  backend/infrastructure/persistence/sql/models.py
  frontend/src/components/trading/DecisionHistoryTable.tsx
  frontend/src/components/trading/DecisionMonitor.tsx
  frontend/src/components/trading/OrdersPanel.tsx
  frontend/src/features/positions/PositionWorkspace.tsx
Owners: @iharari2

Add simulation timeline with trigger events and configurable thresholds
  backend/app/routes/positions.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/domain/entities/simulation_result.py
  backend/infrastructure/persistence/sql/simulation_repo_sql.py
  frontend/src/features/simulation/SimulationLabPage.tsx
  frontend/src/features/simulation/SimulationResults.tsx
  frontend/src/features/simulation/SimulationSetup.tsx
Owners: @iharari2

Add master-detail Position Workspace layout
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/features/workspace/PositionWorkspacePage.tsx
  frontend/src/features/workspace/WorkspaceContext.tsx
  frontend/src/features/workspace/components/LeftPanel/LeftPanel.tsx
  frontend/src/features/workspace/components/LeftPanel/PortfolioSelector.tsx
  frontend/src/features/workspace/components/LeftPanel/PositionCellItem.tsx
  frontend/src/features/workspace/components/LeftPanel/PositionCellList.tsx
  frontend/src/features/workspace/components/LeftPanel/QuickFilters.tsx
  frontend/src/features/workspace/components/RightPanel/DetailTabBar.tsx
  frontend/src/features/workspace/components/RightPanel/EmptyDetailState.tsx
  frontend/src/features/workspace/components/RightPanel/RightPanel.tsx
  frontend/src/features/workspace/components/tabs/EventsTab.tsx
  frontend/src/features/workspace/components/tabs/OverviewTab.tsx
  frontend/src/features/workspace/components/tabs/StrategyTab.tsx
  frontend/src/features/workspace/components/tabs/TradingTab.tsx
  frontend/src/features/workspace/index.ts
  frontend/src/layouts/MasterDetailLayout.tsx
Owners: @iharari2

Fix simulation date range and chart data bugs
  backend/application/use_cases/simulation_unified_uc.py
  frontend/src/features/simulation/SimulationResults.tsx
Owners: @iharari2

Add reported issues and work items to development plan
  docs/dev/development_plan_status.md
Owners: none

Fix CP-1 and CP-2: Strategy config persistence issues
  docs/dev/development_plan_status.md
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/features/positions/StrategyConfigForm.tsx
  frontend/src/features/positions/tabs/StrategyConfigTab.tsx
  frontend/src/features/workspace/components/tabs/StrategyTab.tsx
Owners: @iharari2

Fix CP-3: Add navigation back to other screens
  docs/dev/development_plan_status.md
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/features/simulation/SimulationLabPage.tsx
  frontend/src/features/workspace/PositionWorkspacePage.tsx
  frontend/src/features/workspace/components/RightPanel/RightPanel.tsx
Owners: @iharari2

Fix SIM-1 and NAV-1: Add chart markers and navigation menu
  docs/dev/development_plan_status.md
  docs/dev/unified_development_plan.md
  docs/product/unimplemented/real_time_data_integration.md
  frontend/src/features/simulation/SimulationResults.tsx
  frontend/src/features/workspace/PositionWorkspacePage.tsx
Owners: @product-manager, @ilan, @iharari2

Fix SIM-2: Add dividends display to simulation results
  docs/dev/development_plan_status.md
  frontend/src/features/simulation/SimulationResults.tsx
Owners: @iharari2

Fix ANA-1: Analytics page shows no data
  backend/app/routes/portfolios.py
  docs/dev/development_plan_status.md
  frontend/src/features/analytics/AnalyticsCharts.tsx
  frontend/src/features/analytics/AnalyticsKPIs.tsx
Owners: @iharari2

Fix CP-1 and CP-2: Position strategy persistence and display
  docs/dev/development_plan_status.md
  frontend/src/features/positions/PositionsAndConfigPage.tsx
  frontend/src/features/positions/tabs/StrategyConfigTab.tsx
  frontend/src/features/workspace/components/tabs/StrategyTab.tsx
Owners: @iharari2

Fix ANA-1 analytics data and TypeScript build errors
  backend/application/services/portfolio_service.py
  docs/dev/development_plan_status.md
  frontend/src/components/charts/PerformanceChart.tsx
  frontend/src/components/optimization/HeatMapVisualization.tsx
  frontend/src/types/optimization.ts
Owners: @iharari2

Add position filter and normalize stock comparison chart
  backend/app/routes/portfolios.py
  backend/application/services/portfolio_service.py
  frontend/src/features/analytics/AnalyticsCharts.tsx
  frontend/src/features/analytics/AnalyticsPage.tsx
  frontend/src/services/portfolioScopedApi.ts
Owners: @iharari2

Add new work items: analytics charts, visualization, and feature requests
  docs/dev/development_plan_status.md
Owners: none

Mark ANA-2 through ANA-5 and VIS-1 as fixed
  docs/dev/development_plan_status.md
Owners: none

Fix ANA-6 and SET-1: Analytics enhancements and Settings save
  backend/application/services/portfolio_service.py
  docs/dev/development_plan_status.md
  frontend/src/features/analytics/AnalyticsCharts.tsx
  frontend/src/features/analytics/AnalyticsPage.tsx
  frontend/src/features/settings/SettingsPage.tsx
  frontend/src/services/portfolioScopedApi.ts
Owners: @iharari2

Fix SIM-3, SIM-4, CP-4: Simulation comparison, Excel export, Market Hours Policy
  backend/app/routes/positions_cockpit.py
  docs/dev/development_plan_status.md
  frontend/src/features/simulation/SimulationLabPage.tsx
  frontend/src/features/simulation/SimulationResults.tsx
  frontend/src/features/simulation/SimulationSetup.tsx
  frontend/src/features/workspace/components/tabs/StrategyTab.tsx
Owners: @iharari2

Fix ANA-7: Add event tables (Buy/Sell + Dividends) to Analytics
  docs/dev/development_plan_status.md
  frontend/src/features/analytics/AnalyticsEventTables.tsx
  frontend/src/features/analytics/AnalyticsPage.tsx
Owners: @iharari2

Fix analytics events to include timeline BUY/SELL actions
  backend/application/services/portfolio_service.py
Owners: @iharari2

Fix analytics timeline query: add mode=LIVE and improve action matching
  backend/application/services/portfolio_service.py
Owners: @iharari2

Fix analytics timeline: don't pass date filters to SQL, filter in Python
  backend/application/services/portfolio_service.py
Owners: @iharari2

Fix timeline INSERT: add missing dividend_declared NOT NULL field
  backend/infrastructure/persistence/sql/evaluation_timeline_repo_sql.py
Owners: @iharari2

Various improvements: CI/CD, trading components, market data, deploy
  .github/workflows/ci-cd.yml
  backend/app/di.py
  backend/app/routes/orders.py
  backend/app/routes/portfolio_cockpit_api.py
  backend/app/routes/positions.py
  backend/application/orchestrators/live_trading.py
  backend/application/services/continuous_trading_service.py
  backend/application/use_cases/evaluate_position_uc.py
  backend/application/use_cases/execute_order_uc.py
  backend/infrastructure/market/market_data_storage.py
  backend/infrastructure/market/yfinance_adapter.py
  deploy.sh
  frontend/src/components/EventTimeline.tsx
  frontend/src/components/VerboseTimelineView.tsx
  frontend/src/features/audit/AuditTrailPage.tsx
  frontend/src/features/positions/tabs/StrategyConfigTab.tsx
  frontend/src/features/trading/PositionCockpitPage.tsx
  frontend/src/features/trading/TradeCockpitPage.tsx
  frontend/src/features/trading/TradeScreen/EventLogSection.tsx
Owners: @iharari2
