Repository iharari2/Volatility-Balancing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @product-manager, @ilan, @iharari2, @lead-architect, @backend-leads, @frontend-leads, @devops-leads

Remove Zone.Identifier files
  backend/docs/simulation.md:Zone.Identifier
  docs/architecture/archive/components.md:Zone.Identifier
Owners: @iharari2, @lead-architect, @ilan

Default Events tab filter to show BUY/SELL/SKIP only
  frontend/src/features/trading/TradeScreen/EventLogSection.tsx
Owners: @iharari2

Fix explainability tab and order execution guardrails
  backend/app/routes/explainability.py
  backend/application/services/broker_integration_service.py
  backend/application/services/explainability_timeline_service.py
  backend/domain/services/guardrail_evaluator.py
  backend/infrastructure/adapters/order_service_adapter.py
Owners: @iharari2

Implement pending order check to prevent duplicate orders
  backend/app/di.py
  backend/application/use_cases/evaluate_position_uc.py
Owners: @iharari2

Add Orders tab to workspace with pending orders and order history table
  frontend/src/components/trading/OrdersTable.tsx
  frontend/src/features/workspace/WorkspaceContext.tsx
  frontend/src/features/workspace/components/RightPanel/DetailTabBar.tsx
  frontend/src/features/workspace/components/RightPanel/RightPanel.tsx
  frontend/src/features/workspace/components/tabs/OrdersTab.tsx
  frontend/src/lib/api.ts
  frontend/src/types/orders.ts
Owners: @iharari2

Implement order control loop with TIF-aware reconciliation
  backend/app/di.py
  backend/application/services/broker_integration_service.py
  backend/application/services/order_status_worker.py
  backend/application/services/trading_worker.py
  backend/domain/entities/order.py
  backend/domain/ports/orders_repo.py
  backend/infrastructure/persistence/memory/orders_repo_mem.py
  backend/infrastructure/persistence/sql/migrations/add_order_tif_column.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/orders_repo_sql.py
Owners: @iharari2

Register explainability routes and run time_in_force migration
  backend/app/main.py
Owners: @iharari2

Add missing __init__.py for sql and migrations packages
  backend/infrastructure/persistence/sql/__init__.py
  backend/infrastructure/persistence/sql/migrations/__init__.py
Owners: @iharari2

Add uncommitted backend source files needed for EC2 deployment
  backend/app/routes/audit.py
  backend/application/dto/experiments.py
  backend/application/dto/explainability.py
  backend/application/services/activity_report_export_service.py
  backend/application/use_cases/create_experiment_uc.py
  backend/application/use_cases/evaluate_experiment_uc.py
  backend/domain/entities/trading_experiment.py
  backend/domain/ports/trading_experiment_repo.py
  backend/infrastructure/adapters/alpaca_broker_adapter.py
  backend/infrastructure/config/broker_credentials.py
  backend/infrastructure/persistence/sql/migrations/add_broker_fields.py
  backend/infrastructure/persistence/sql/trading_experiment_repo_sql.py
  backend/tests/integration/test_alpaca_broker.py
  backend/tests/integration/test_orders_cancel_status.py
  backend/tests/unit/application/test_activity_report_export.py
  backend/tests/unit/application/test_order_status_worker.py
  backend/tests/unit/infrastructure/test_alpaca_broker_adapter.py
Owners: @iharari2

Add algorithm correctness audit: 90 tests across 6 test files
  backend/application/use_cases/evaluate_position_uc.py
  backend/tests/integration/test_golden_path_regression.py
  backend/tests/unit/application/test_anchor_reset.py
  backend/tests/unit/application/test_commission_calculation.py
  backend/tests/unit/application/test_dividend_trading_interaction.py
  backend/tests/unit/application/test_order_sizing.py
  backend/tests/unit/domain/services/test_guardrail_evaluator.py
  docs/product/volatility_trading_spec_v1.md
Owners: @iharari2, @product-manager, @ilan

Add EC2 deployment runbook, .env.example, and systemd service template
  .env.example
  docs/runbooks/ec2-deploy.md
  docs/runbooks/volbalancing.service
Owners: none

Improve UX: replace alerts with toasts, add ConfirmDialog and ErrorBoundary
  frontend/src/App.tsx
  frontend/src/components/CreatePositionForm.tsx
  frontend/src/components/ExcelExport.tsx
  frontend/src/components/VerboseTimelineView.tsx
  frontend/src/components/shared/ErrorBoundary.tsx
  frontend/src/components/trading/DecisionHistoryTable.tsx
  frontend/src/components/trading/ExplainabilityTable.tsx
  frontend/src/features/portfolios/PortfolioListPage.tsx
  frontend/src/features/portfolios/PortfolioOverviewPage.tsx
  frontend/src/features/positions/PositionDetailPage.tsx
  frontend/src/features/positions/modals/AdjustPositionModal.tsx
  frontend/src/features/positions/modals/DepositModal.tsx
  frontend/src/features/positions/modals/EditPositionModal.tsx
  frontend/src/features/positions/modals/SetAnchorModal.tsx
  frontend/src/features/positions/modals/WithdrawModal.tsx
  frontend/src/features/positions/tabs/CashTab.tsx
  frontend/src/features/positions/tabs/PositionsTab.tsx
  frontend/src/features/positions/tabs/StrategyConfigTab.tsx
  frontend/src/features/simulation/SimulationResults.tsx
  frontend/src/features/workspace/components/LeftPanel/PortfolioSelector.tsx
  frontend/src/lib/errorHandler.ts
  frontend/src/pages/Analysis.tsx
  frontend/src/pages/PortfolioManagement.tsx
  frontend/src/pages/PositionDetail.tsx
  frontend/src/pages/Positions.tsx
  frontend/src/pages/Simulation.tsx
Owners: @iharari2

Add FormField component and numeric input constraints
  frontend/src/components/shared/FormField.tsx
  frontend/src/features/positions/tabs/StrategyConfigTab.tsx
Owners: @iharari2

Add unified trade tracking with order/trade enrichment and pagination
  backend/app/routes/explainability.py
  backend/application/dto/explainability.py
  backend/application/services/explainability_timeline_service.py
  backend/tests/unit/application/test_explainability_timeline_service.py
Owners: @iharari2

Fix guardrail defaults: change 0%/100% to 25%/75%
  backend/app/routes/portfolios.py
  backend/domain/value_objects/guardrails.py
  backend/tests/unit/application/test_execute_order_uc.py
  backend/tests/unit/application/test_submit_daily_cap.py
Owners: @iharari2

Add monitoring, alerting, and structured logging system
  backend/app/di.py
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/routes/monitoring.py
  backend/application/services/alert_checker.py
  backend/application/services/system_status_service.py
  backend/application/services/trading_worker.py
  backend/application/services/webhook_service.py
  backend/domain/entities/alert.py
  backend/domain/ports/alert_repo.py
  backend/infrastructure/logging/structured_logging.py
  backend/infrastructure/persistence/memory/alert_repo_mem.py
  backend/tests/integration/test_async_client_sync_endpoint.py
  backend/tests/integration/test_gate1_deterministic_ticks.py
  backend/tests/integration/test_main_app.py
  backend/tests/unit/application/test_alert_checker.py
  backend/tests/unit/application/test_system_status_service.py
  backend/tests/unit/application/test_webhook_service.py
Owners: @iharari2

Add server-side pagination and order status filter to explainability table
  frontend/src/components/trading/ExplainabilityTable.tsx
  frontend/src/lib/api.ts
  frontend/src/types/explainability.ts
Owners: @iharari2

Add project config, architecture docs, and trading safety script
  .claude/PRD.md
  .claude/reference/README.md
  .claude/reference/use-cases.md
  CLAUDE.md
  docs/architecture/archive/components.md
  docs/architecture/trade-tracking.md
  scripts/check_trading_safety.py
Owners: @lead-architect, @ilan, @iharari2

Update .gitignore: add db files, Windows nul, and local config
  .gitignore
Owners: none

Update development plan: document iterations 1-8 and plan 9-15
  docs/dev/development_plan_status.md
Owners: none

Fix all pre-existing integration test failures (Iteration 9)
  .github/workflows/ci-cd.yml
  backend/app/routes/orders.py
  backend/application/use_cases/execute_order_uc.py
  backend/domain/services/guardrail_evaluator.py
  backend/tests/integration/test_gate1_deterministic_ticks.py
  backend/tests/integration/test_orders_api.py
  backend/tests/integration/test_orders_list.py
Owners: @iharari2

Remove redundant audit trail feature (Iteration 10)
  backend/app/di.py
  backend/app/routes/audit.py
  backend/application/events.py
  backend/application/orchestrators/live_trading.py
  backend/application/orchestrators/simulation.py
  backend/application/ports/event_logger.py
  backend/application/services/broker_integration_service.py
  backend/application/services/continuous_trading_service.py
  backend/docs/AUDIT_LOGGING_GUIDE.md
  backend/docs/AUDIT_LOGGING_IMPLEMENTATION.md
  backend/docs/HOW_TO_VIEW_AUDIT_TRAIL.md
  backend/infrastructure/adapters/event_logger_adapter.py
  backend/infrastructure/adapters/unified_event_logger_adapter.py
  backend/infrastructure/logging/json_event_logger.py
  backend/tests/integration/test_continuous_trading_fixes.py
  backend/tests/integration/test_simulation_intraday_minimal.py
  frontend/src/App.tsx
  frontend/src/features/audit/AuditTrailPage.tsx
  frontend/src/lib/api.ts
Owners: @iharari2

Update development plan: mark iterations 9-10 complete
  docs/dev/development_plan_status.md
Owners: none

Wire Dividends API to UI, add workspace tab, fix datetime bug (Iteration 11)
  backend/app/routes/dividends.py
  backend/application/services/order_status_worker.py
  backend/tests/integration/test_dividend_api.py
  backend/tests/integration/test_main_app.py
  docs/dev/development_plan_status.md
  frontend/src/components/DividendManagement.tsx
  frontend/src/features/positions/DividendsTab.tsx
  frontend/src/features/positions/PositionsPage.tsx
  frontend/src/features/workspace/WorkspaceContext.tsx
  frontend/src/features/workspace/components/RightPanel/DetailTabBar.tsx
  frontend/src/features/workspace/components/RightPanel/RightPanel.tsx
  frontend/src/features/workspace/components/tabs/DividendsTab.tsx
  frontend/src/hooks/useDividends.ts
  frontend/src/lib/api.ts
  frontend/src/pages/PositionDetail.tsx
Owners: @iharari2

Fix filled_qty not persisted on orders after execution
  backend/application/services/broker_integration_service.py
  backend/application/use_cases/execute_order_uc.py
  frontend/src/components/trading/OrdersTable.tsx
Owners: @iharari2

Add monitoring frontend dashboard (Iteration 13)
  docs/dev/development_plan_status.md
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/features/monitoring/MonitoringPage.tsx
  frontend/src/features/monitoring/components/AlertsTable.tsx
  frontend/src/features/monitoring/components/SystemHealthCards.tsx
  frontend/src/features/monitoring/components/WebhookConfig.tsx
  frontend/src/hooks/useMonitoring.ts
  frontend/src/lib/api.ts
Owners: @iharari2

Add optimization page with config management and heatmap view (Iteration 12)
  backend/app/routes/optimization.py
  docs/dev/development_plan_status.md
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/optimization/ParameterConfigForm.tsx
  frontend/src/features/optimization/OptimizationPage.tsx
  frontend/src/services/optimizationApi.ts
  frontend/src/types/optimization.ts
Owners: @iharari2

Wire optimization to real simulation engine (Iteration 14)
  backend/app/di.py
  backend/app/routes/optimization.py
  backend/application/use_cases/parameter_optimization_uc.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/domain/entities/optimization_config.py
  backend/tests/unit/application/test_parameter_optimization_uc.py
  docs/dev/development_plan_status.md
  docs/dev/parameter_optimization_implementation_plan.md
  docs/dev/unified_development_plan.md
  docs/optimization_metrics.md
  frontend/src/components/optimization/ParameterConfigForm.tsx
  frontend/src/types/optimization.ts
Owners: @iharari2

Fix auto-rebalance proposal lost + optimization parameter conversion
  backend/application/use_cases/evaluate_position_uc.py
  backend/application/use_cases/parameter_optimization_uc.py
Owners: @iharari2

Fix optimization results: double-percentage bug, add drill-down modal and new columns
  backend/app/routes/optimization.py
  backend/application/use_cases/parameter_optimization_uc.py
  backend/domain/value_objects/optimization_criteria.py
  frontend/src/components/optimization/OptimizationResults.tsx
  frontend/src/types/optimization.ts
Owners: @iharari2

Add dividends to optimization results: metric, column, and drill-down modal
  backend/application/use_cases/parameter_optimization_uc.py
  backend/domain/value_objects/optimization_criteria.py
  frontend/src/components/optimization/OptimizationResults.tsx
  frontend/src/types/optimization.ts
Owners: @iharari2

Persist optimization configs to DB, wire Excel export, parallel tests, fix dividend bug
  backend/app/di.py
  backend/app/routes/excel_export.py
  backend/application/use_cases/simulation_unified_uc.py
  backend/infrastructure/persistence/sql/models.py
  backend/infrastructure/persistence/sql/optimization_repo_sql.py
  backend/tests/conftest.py
  docs/dev/development_plan_status.md
  frontend/src/components/ExcelExport.tsx
  frontend/src/components/ExcelExportIntegration.tsx
  frontend/src/components/optimization/OptimizationResults.tsx
  frontend/src/components/trading/OrdersTable.tsx
  frontend/src/features/analytics/AnalyticsEventTables.tsx
  frontend/src/features/monitoring/components/AlertsTable.tsx
  frontend/src/features/optimization/OptimizationPage.tsx
  frontend/src/features/positions/PositionsTable.tsx
  frontend/src/features/simulation/SimulationResults.tsx
  frontend/src/utils/exportExcel.ts
  pyproject.toml
Owners: @iharari2

Update CLAUDE.md
  CLAUDE.md
Owners: none

Widen guardrail tolerance from 0.01% to 0.5% to account for commission impact
  backend/domain/services/guardrail_evaluator.py
Owners: @iharari2

Untrack audit_trail.jsonl (already in .gitignore)
  backend/logs/audit_trail.jsonl
Owners: @iharari2

Add lightweight migration for missing optimization_configs columns
  backend/infrastructure/persistence/sql/models.py
Owners: @iharari2

Fix CI/CD pipeline YAML syntax error and add missing test deps
  .github/workflows/ci-cd.yml
  docs/dev/development_plan_status.md
Owners: @iharari2

Fix CI failures: ruff lint errors, missing yfinance dep, ESLint parser config
  backend/application/use_cases/parameter_optimization_uc.py
  backend/infrastructure/persistence/sql/optimization_repo_sql.py
  backend/requirements.txt
  frontend/package.json
  pyproject.toml
Owners: @iharari2

Fix remaining CI failures: yfinance version pin, ESLint rule relaxation
  backend/requirements.txt
  frontend/package.json
Owners: @iharari2

Fix coverage threshold and ESLint max-warnings flag
  .github/workflows/ci-cd.yml
  frontend/package.json
Owners: @iharari2

.github/CODEOWNERS:

# .github/CODEOWNERS
/docs/product/      @product-manager @ilan @iharari2
/docs/architecture/ @lead-architect  @ilan @iharari2
/docs/adr/          @lead-architect @iharari2
/backend/           @backend-leads @iharari2
/frontend/          @frontend-leads @iharari2
/infra/             @devops-leads @iharari2

/backend/   @iharari2
/frontend/  @iharari2
/.policy/   @iharari2
/.github/   @iharari2
